<section class="movie-detail">
  <div class="details">
    <h1><%= @movie.title %></h1>
    <h2><%= total_gross(@movie) %></h2>
    <h3>Released on: <%= day_and_time(@movie) %></h3>
    <p><%= @movie.description %>
  </div>
</section>